<div class="grid">
    <div class="col">
        <div class="text-center p-3 border-round-sm  font-bold"></div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm  font-bold ">
            <div class="card">
                <h3 class="grado">Suboficial Auxiliar</h3>
                <h1 class="nombre">MARIA PEREZ</h1>
                <h2 class="iosfa">202.536</h2>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm  font-bold "></div>
    </div>
</div>

<div class="grid">
    <div class="col">
        <div class="text-center p-3 border-round-sm  font-bold"></div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm  font-bold ">
            <div class="card">
                <p-tabView>
                    <p-tabPanel header="Datos generales">
                        <app-home></app-home>
                    </p-tabPanel>
                    <p-tabPanel header="Datos laborales">
                        <app-contact></app-contact>
                    </p-tabPanel>
                    <p-tabPanel header="Datos familiares">
                        <app-home></app-home>
                    </p-tabPanel>
                    <p-tabPanel header="Capacitaciones">
                        <app-contact></app-contact>
                    </p-tabPanel>
                    <p-tabPanel header="Comisiones">
                        <app-home></app-home>
                    </p-tabPanel>
                    <p-tabPanel header="Actividad Operativa">
                        <app-contact></app-contact>
                    </p-tabPanel>
                    <p-tabPanel header="Documentación Asociada">
                        <app-home></app-home>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm  font-bold "></div>
    </div>
</div>

